<div class="about second">
    <div class="container">
        <h3 class="tittle wel">Qui suis-je ?</h3>

        <div class="about-top">
            <div class="col-md-7 about-top-right">
                <h4>Johan Lambon, Comportementaliste et éducateur canin sur Rennes et sa périphérie.</h4>

                <p>Attiré depuis toujours par les animaux, j’ai eu la chance d’évoluer avec des chiens dès mon
                    plus jeune âge. J’ai ainsi suivi un parcours riche, en expériences de vie,  professionnelles, et
                    en rencontres.</p>

                <p>De retour en France, l’attraction ayant laissé place à une véritable passion, je me suis
                    d’avantage intéressé à cette relation existante entre les chiens, mais également avec leurs
                    maîtres…
                </p>

                <p>
                    Aujourd’hui conscient d’un dysfonctionnement dû à une compréhension inadéquat, ou trop
                    partielle de ces êtres, j’ai décidé de m’orienter dans cette voie pour y apporter une
                    contribution significative.
                </p>

                <p>
                    Je suis passé par le centre de formation international <a href="http://www.woodenpark.fr" >Woodenpark</a> (sous contrôle pédagogique de l’Etat) dans l’optique de devenir un professionnel du chien.
                </p>

                <p>
                    Je remercie par ailleurs Lise Busi et Didier Raynal pour leurs enseignements, et conseils.
                </p>
            </div>
            <div class="col-md-5 about-top-left">
                <img src="images/johan.jpg" class="img-responsive img-thumbnail" alt=""/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath5" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath6" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
<!--start-breed-section-->
<div class="breed-section">
    <div class="container">
        <h3 class="tittle two">Ma méthode</h3>

        <div class="serve-grids">
            <div class="col-md-5 service-img">
                <img src="images/methode.jpg" class="img-responsive img-thumbnail" alt=""/>
            </div>
            <div class="col-md-7 serve-text">
                <h4>"Basée sur le respect"</h4>

                <p>Un éducateur canin, ne devrait pas avoir une seule et unique méthode de travail. Mais <b>un ensemble de méthodes</b>, cohérentes, amicales, positives et suffisamment modernes pour proscrire toute forme de violence physique et permettre ainsi de construire <b>une relation de confiance et de complicité</b> avec son élève.
                </p>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
<!--//services-->
<div class="health-care">
    <div class="container">
        <h3 class="tittle">Gouache</h3>

        <div class="health">
            <div class="col-md-7 health-text">
                <h4>Un partenaire</h4>

                <p>Mon partenaire <b>Gouache</b>, membre à part entière du Pacte des Chiens, était un jeune chien
                    lorsque nous nous étions rencontrés.
                    Suite à un passé d’environ un an à la SPA de Rennes, nous avons travaillé main dans la patte au quotidien, pour  nous adapter l’un à l’autre en fonction de nos besoins respectifs. </p>

                <p>Une confiance mutuelle s’est ainsi instaurée dans l’intelligence, le respect et la complicité.
                </p>

                <p>D’un naturel courageux et volontaire, il n’en reste pas moins très affectueux, sociable, et
                    d’une grande douceur, particulièrement avec les enfants.</p>
            </div>
            <div class="col-md-5 health-img">
                <img src="images/gouache.jpg" class="img-responsive img-thumbnail" alt=""/>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath3" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath4" d="M50 100 L100 40 L100 0 Z"></path>
</svg>