<div class="footer text-center">
    <div class="container">
        <ul class="social-icons">
            <li><a class="tooltips" href="https://fr-fr.facebook.com/pactedeschiens" target="_blank"><img src="images/fb.png" title="facebook"/><span>Suivez-moi pour avoir mes dernières nouvelles</span></a>
            </li>
            <!--<li><a class="tooltips" href="#" target="_blank"><img src="images/twt.png" title="twitter"/><span>Suivez-moi pour avoir mes dernières nouvelles</span></a>-->
            <!--</li>-->
            <li><a class="tooltips" href="https://www.youtube.com/channel/UC1Cq5lCe9J1ojAXpJEd2ouA"target="_blank" ><img src="images/tube.png" title="tube"/><span>Suivez-moi pour avoir mes dernières nouvelles</span></a>

            <div class="clearfix"></div>
        </ul>
        <ul class="social-icons">
            <li><a class="tooltips-footer" ng-href="partenaires"><img src="../images/partenaires.png"/> </a></li>
        </ul>
        <div class="copy">
            <p>&copy; 2015 Pacte des chiens. Tous droits réservés</p>
        </div>
    </div>
</div>