<div class="footer text-center">
    <div class="container">
        <ul class="social-icons">
            <li><a class="tooltips" href="#"><img src="images/fb.png" title="facebook"/><span>Follow us for all the latest news</span></a>
            </li>
            <li><a class="tooltips" href="#"><img src="images/twt.png" title="twitter"/><span>Follow us for all the latest news</span></a>
            </li>
            <li><a class="tooltips" href="#"><img src="images/tube.png" title="tube"/><span>Follow us for all the latest news</span></a>
            </li>
            <li><a class="tooltips" href="#"><img src="images/in.png" title="linkedin"/><span>Follow us for all the latest news</span></a>
            </li>
            <li class="pin"><a class="tooltips" href="#"><img src="images/pin.png" title="pinterest"/><span>Follow us for all the latest news</span></a>
            </li>
            <div class="clearfix"></div>
        </ul>
        <div class="copy">
            <p>&copy; 2015 Petsy. All Rights Reserved Design | by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>