<div id="home" class="header" ng-init="launch()">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1><span>Pacte des</span> chiens</h1></a>
            </div>
            <div class="top-menu">
                <span class="menu" ng-click="toggleMenu()"> </span>
                <ul class="cl-effect-16">
                    <li><a ng-href="/" data-hover="Home">Accueil</a></li>
                    <li><a ng-href="/presentation" data-hover="Présentation">Présentation</a></li>
                    <li><a ng-href="/services" data-hover="Services et tarifs">Services et tarifs</a></li>
                    <li><a ng-href="/blog" data-hover="blog">Blog</a></li>
                    <li><a ng-href="/contact" data-hover="Contact">Contact</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div id="top" class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    <li id="callbacks1_s0" class="callbacks1_on"
                        style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
                        <div class="banner-info">
                            <h3>Éducateur canin</h3>
                            <h4>Un travail efficace et respectueux du chien</h4>
                        </div>
                    </li>
                    <li id="callbacks1_s1" class=""
                        style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out;">
                        <div class="banner-info">
                            <h3>Comportement du chien</h3>
                            <h4>Des réponses claires, des conseils personnalisés</h4>
                        </div>
                    </li>
                    <li id="callbacks1_s2" class=""
                        style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out;">
                        <div class="banner-info">
                            <h3>Professionnel formé et diplômé</h3>
                            <h4>Centre de formation international woodenpark</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
            <div class="container">
                <div class="banner-bot-grids">
                    <div class="col-md-4 banner-grid one">
                        <div class="icon">
                            <img src="images/deplacements.png"/>
                        </div>
                        <div class="icon-text">
                            <h4>A domicile</h4>

                            <p>Nantes RENNES & Ille-et-vilaine</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 banner-grid two" >
                        <div class="icon">
                            <img src="images/telephone.png"/>
                        </div>
                        <div class=" icon-text">
                            <h4><a href="callto:06 52 33 37 97">06 52 33 37 97</a></h4>

                            <p>Me contacter</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 banner-grid three">
                        <div class="icon">
                            <img src="images/evaluation.png"/>
                        </div>
                        <div class="icon-text">
                            <h4>Séance d’évaluation</h4>

                            <p>GRATUITE et sans engagement</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>