
<div class="about second">
<div class="container">
    <h3 class="tittle">Blog</h3>
    <div class="news-article">
        <div class="article-post two">
            <a href="#" ><img ng-src="{{article.cover}}" class="img-responsive img-thumbnail" alt="img07"/></a>
            <div class="col-md-3 post-meta two">
                <div class="meta-icon">
                    <div class="pic">
                        <a href="#" > <i class="glyphicon glyphicon-picture"></i></a>
                    </div>
                </div>
                <ul class="ad-info two">
                    <li>{{article.date}}</li>
                    <li> <a href="#">{{article.author}}</a></li>
                    <li> <a href="#">{{article.comments.length}} Comments</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-9 post-details two">
                <a href="#"><h3>{{article.title}}</h3></a>
                <p>{{article.intro}}</p>
                <p>{{article.content}}</p>
            </div>
            <!--post-details-->
            <div class="clearfix"> </div>
        </div>
        <div class="single">
            <div class="leave">
                <h4>Laissez un commentaire</h4>
                <form id="commentform">
                    <p class="comment-form-author-name"><label for="author">Pseudo</label>
                        <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                    </p>
                    <p class="comment-form-email">
                        <label class="email">Email</label>
                        <input id="email" name="email" type="text" value="" size="30" aria-required="true">
                    </p>
                    <p class="comment-form-comment">
                        <label class="comment">Comment</label>
                        <textarea></textarea>
                    </p>
                    <div class="clearfix"></div>
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="Send" disabled>
                    </p>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="single_grid2" ng-show="article.comments.length > 0">
                <h4 class="tz-title-4 tzcolor-blue">
                    Commentaires
                </h4>
                <ul class="list">
                    <li ng-repeat="comment in article.comments">
                        <div class="col-md-2 preview"><a href="#"><img ng-show="!comment.userpicture" src="images/co.png" class="img-responsive img-thumbnail" alt=""><img ng-show="comment.userpicture" ng-src="{{comment.userpicture}}" class="img-responsive img-thumbnail" alt=""></a></div>
                        <div class="col-md-10 data">
                            <div class="title"><a href="#">{{comment.nickname}}</a><br><span class="m_14">{{comment.date}}</span></div>
                            <p>{{comment.message}}</p>
                            <h5 class="m_26"> <a href="#">Répondre</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath5" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath6" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
