<div class="about second">
    <div class="container">
        <h3 class="tittle wel">Mes services</h3>

        <div class="about-top">
            <div class="col-md-12 about-top-right">
                <h4>Prestation Comportement</h4>

                <p>Le chien est un animal social. Qui a besoin, pour se construire, se structurer et s’épanouir de passer par différentes phases d’apprentissage. Inculquées par sa mère (période de sevrage), puis vous même, son groupe social, et son environnement.</p>
                <p>Malheureusement, certains comportements « anormaux » peuvent apparaître sans raisons apparentes.</p>
                <p>Ces comportements indésirables, tel que les destructions, les aboiements répétitifs, peurs, malpropretés persistantes, agressivité,... ne sont bien souvent qu’un symptôme de quelque chose de plus profond.
                    La cause principale restant à déterminer...</p>
                <p>Tenter de ne corriger que ce comportement indésirable reviendrait à cacher la poussière sous le tapis, sans effet sur le long terme.
                    Laisser le temps passer ne résoudra pas un comportement déviant (au contraire).</p>
                <p>Ainsi en fonction du problème rencontré, de ses ressources, mais également de ses besoins physiologiques.  Je mets en place, un plan d’action intégralement personnalisé et adapté à votre chien. </p>
                <p><b>Une implication active de la part des maîtres est impérative pour des résultats de qualités et durables.</b></p>
                <p>Afin d’enrayer au plus vite, et le plus efficacement cette situation, n’hésitez pas à me contacter.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"-->
     <!--viewBox="0 0 100 100" preserveAspectRatio="none">-->
    <!--<path id="trianglePath5" d="M0 0 L50 100 L100 0 Z"></path>-->
    <!--<path id="trianglePath6" d="M50 100 L100 40 L100 0 Z"></path>-->
<!--</svg>-->
<!--start-breed-section-->
<div class="breed-section">
    <div class="container">
        <div class="serve-grids">
            <div class="col-md-12 serve-text">
                <h4>Prestation éducation</h4>

                <p>Il est primordial d’obtenir de son chien un degré d’obéissance suffisant permettant d’aboutir sur une relation saine, basée sur la compréhension, le respect mais également sur une confiance mutuelle et réciproque.
                </p>
                <p>Je propose d’effectuer un travail d’éducation avec votre chien.
                <b>Il n’y a pas de limite d’âge, et cela vaut pour toutes les races.</b></p>
                <p>Pour cela je vous propose une <b>séance d’évaluation gratuite.</b></p>
                <p>Le test d’évaluation me permet :</p>
                <ul>
                    <li>d’établir un <b>rapport de confiance</b> avec votre compagnon.
                    </li>
                    <li><b>d’observer</b> et analyser le comportement de ce dernier en vu d’identifier les faiblesses, ou d’éventuels troubles comportementaux.
                    </li>
                    <li>de définir avec vous le <b>plan d’action</b> le mieux adapté concernant les objectifs à atteindre.</li>
                </ul>
                <p>Durant les <b>séances d’éducation</b> individuelles:</p>
                <ul>
                    <li>
                        J’éduque votre chien, je lui apprends les <b>ordres de base</b> (assis, couché, marche au pied, avec et sans laisse, le rappel…).
                    </li>
                    <li><b>Je vous guide</b> pas à pas pour que vous ailliez les bons réflexes. Jusqu’à ce que vous soyez <b>complètement autonome</b> avec votre chien en toutes circonstances.</li>
                    <li>Nous renforçons, progressivement, sa <b>socialisation</b> aux autres chiens, sa <b>concentration</b> dans des lieux plus dynamiques (centre ville).</li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
<!--//services-->
<div class="health-care">
    <div class="container">
        <div class="health">
            <div class="col-md-12 health-text">
                <h4>Prestation prévention morsures</h4>

                <p>Le chien est un animal social possédant une communication différente de la nôtre.</p>
                <p>Ainsi il peut parfois être délicat de décrypter les codes émis par un chien, et plus encore
                    d’y répondre avec justesse lorsqu’on est tétanisé par la peur...
                    Celui ci ne cherchant parfois qu’à s’échapper d’une situation trop stressante,
                    l’incompréhension peut résulter d’une situation dramatique, mais pourtant évitable.
                </p>
                <p><i>"Entre ce que je pense, ce que je veux dire, ce que je crois dire, ce que je dis,
                    ce que vous voulez entendre, ce que vous entendez,
                    ce que vous croyez en comprendre, ce que vous voulez comprendre, et ce que vous comprenez,
                    il y a au moins neuf possibilités de ne pas se comprendre."</i>  Bernard Werber</p>

                <p>Je propose des ateliers pédagogiques adaptés. Aux enfants, adultes et professionnels. Ceux-ci peuvent se dérouler à votre domicile, en présence de tous les membres de la famille, ou bien en établissement scolaire.
                </p>

                <p>Pour d’avantage d’informations vous pouvez me contacter.</p>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath3" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath4" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
<div class="breed-section">
    <div class="container">
        <div class="serve-grids">
            <div class="col-md-12 serve-text">
                <h4>Tarifs prestations</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Prestation</th>
                        <th>Durée</th>
                        <th>Tarifs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Test évaluation de votre chien</td>
                        <td>1h</td>
                        <td>OFFERT</td>
                    </tr>
                    <tr>
                        <td>Education : Forfait 3 séances</td>
                        <td>1h par séance</td>
                        <td>140&euro;</td>
                    </tr>
                    <tr>
                        <td>Education : Forfait 5 séances</td>
                        <td>1h par séance</td>
                        <td>220&euro;</td>
                    </tr>
                    <tr>
                        <td>Education : Forfait 10 séances</td>
                        <td>1h par séance</td>
                        <td>400&euro;</td>
                    </tr>
                    <tr>
                        <td>Séance "Comportement"</td>
                        <td>1h30</td>
                        <td>50&euro;</td>
                    </tr>
                    <tr>
                        <td>Accompagnement & Conseils choix du chiot/chien</td>
                        <td>2h</td>
                        <td><a ng-href="/contact" >Me contacter</a></td>
                    </tr>
                    <tr>
                        <td>Prévention morsure</td>
                        <td>1h30</td>
                        <td>50&euro;</td>
                    </tr>
                    </tbody>
                </table>

                <h4>Frais de déplacements</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Frais kilométriques</th>
                        <th>Tarif</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Inférieur à 20km</td>
                        <td>OFFERTS</td>
                    </tr>
                    <tr>
                        <td>Supérieur à 20km</td>
                        <td>0,25€ par km parcouru</td>
                    </tr>
                    </tbody>
                </table>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
     viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z"></path>
</svg>