<div id="home" class="header two">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>Pacte<span> des chiens</span></h1></a>
            </div>
            <div class="top-menu">
                <span class="menu"> </span>
                <ul class="cl-effect-16">
                    <li><a href="index.html" data-hover="Home">Home</a></li>
                    <li><a href="about.html" data-hover="About">About</a></li>
                    <li><a href="typography.html" data-hover="Services">Services</a></li>
                    <li><a href="gallery.html" data-hover="Gallery">Gallery</a></li>
                    <li><a href="blog.html" data-hover="blog">Blog</a></li>
                    <li><a class="active" href="contact.html" data-hover="Contact">Contact</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>