<div id="home" class="header two">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1><span>Pacte des</span> chiens</h1></a>
            </div>
            <div class="top-menu">
                <span class="menu" ng-click="toggleMenu()"> </span>
                <ul class="cl-effect-16">
                    <li><a ng-href="/" data-hover="Home">Accueil</a></li>
                    <li><a ng-href="/presentation" data-hover="Présentation">Présentation</a></li>
                    <li><a ng-href="/services" data-hover="Services et tarifs">Services et tarifs</a></li>
                    <li><a ng-href="/blog" data-hover="blog">Blog</a></li>
                    <li><a ng-href="/contact" data-hover="Contact">Contact</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>